{readMenu}
{readPerms}
{assign var="actionLabel" value="Add New"}
{if $_item->gotValue}
	{assign var="actionLabel" value="Edit"}
{/if}
<!DOCTYPE html>

<html lang="en">
<head>
	{include file="DS/_top.tpl"}
	<script>
		{literal}
		$(document).ready(function(){
			"use strict";

			App.init(); // Init layout and core plugins
			Plugins.init(); // Init all plugins
			FormComponents.init(); // Init all form-specific plugins
		});
		{/literal}
	</script>

</head>

<body>

<!-- Header -->
<header class="header navbar navbar-fixed-top" role="banner">
	{include file="DS/_header.tpl"}
</header>
<!-- /.header -->

<div id="container">
	<div id="sidebar" class="sidebar-fixed">
		<div id="sidebar" class="sidebar-fixed">
			<div id="sidebar-content">
				<!--=== Navigation ===-->
				{include file="DS/_nav.tpl" menus=$menus}
				<!-- /Navigation -->

			</div>
			<div id="divider" class="resizeable"></div>
		</div>
		<div id="divider" class="resizeable"></div>
	</div>
	<div id="content">
		<div class="container">
			<!-- Breadcrumbs line -->
			{breadCrumb left="ds_bankAccounts,adMingle Bank Accounts;,$actionLabel" }
			<!-- /Breadcrumbs line -->
			<!--=== Page Content ===-->
			<div class="row">
				<div class="col-md-12">
					<div class="widget box">
						<div class="widget-header">
							<h4><i class="icon-reorder"></i>
								{$actionLabel} {$_job|ucfirst}
							</h4>
						</div>
						<div class="widget-content">
							<form class="form-horizontal row-border" action="/ds_{$_job}Action" name="{$_job}" id="{$_job}" method="POST" target="ps">
								{if $_item->gotValue}
									<input type="hidden" name="id" value="{$_item->id}"/>
								{/if}

								{getFormToken f=$_job}

								{formBox type="text" label="Bank Name" name="bankName" value=$_item->bankName}
								{formBox type="populateSelect" label="Related Bank" name="bank_adMingleBank" options=$banks vkey="bankName" value=$_item->bank_adMingleBank}
								{formBox type="text" label="IBAN" name="iban" value=$_item->iban}
								{formBox type="textarea" label="Account Info" name="accountInfo" value=$_item->accountInfo}
								{formBox type="text" label="Branch Name" name="branchName" value=$_item->branchName}
								{formBox type="text" label="Branch Code" name="branchCode" value=$_item->branchCode}
								{formBox type="text" label="Sort Code" name="sortCode" value=$_item->sortCode}
								{formBox type="checkbox" label="Is Active" name="active" value=$_item->active}

								<div class="form-actions">
									<button type="submit" class="submit btn btn-primary pull-right">
										Submit <i class="icon-angle-right"></i>
									</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
			<!-- /Page Content -->
		</div>
		<!-- /.container -->

	</div>
</div>

{include file="DS/footer.tpl"}

</body>
</html>