{readMenu}
{readPerms}
{assign var="actionLabel" value="Add New"}
{if $_item->gotValue}
	{assign var="actionLabel" value="Edit"}
{/if}
<!DOCTYPE html>

<html lang="en">
<head>
	{include file="DS/_top.tpl"}
	<link href="/site/layout/DS/css/clubCrop.css" rel="stylesheet" type="text/css"/>
	<script>
		{literal}
		$(document).ready(function(){
			"use strict";

			App.init(); // Init layout and core plugins
			Plugins.init(); // Init all plugins
			FormComponents.init(); // Init all form-specific plugins
		});
		{/literal}
	</script>

</head>

<body>

<!-- Header -->
<header class="header navbar navbar-fixed-top" role="banner">
	{include file="DS/_header.tpl"}
</header>
<!-- /.header -->

<div id="container">
	<div id="sidebar" class="sidebar-fixed">
		<div id="sidebar" class="sidebar-fixed">
			<div id="sidebar-content">
				<!--=== Navigation ===-->
				{include file="DS/_nav.tpl" menus=$menus}
				<!-- /Navigation -->

			</div>
			<div id="divider" class="resizeable"></div>
		</div>
		<div id="divider" class="resizeable"></div>
	</div>
	<div id="content">
		<div class="container">
			<!-- Breadcrumbs line -->
			{breadCrumb left="ds_clubs,Clubs;,$actionLabel" }
			<!-- /Breadcrumbs line -->

			<!--=== Page Content ===-->
			<div class="row">
				<div class="col-md-12">
					<div class="widget box">
						<div class="widget-header">
							<h4><i class="icon-reorder"></i>
								{$actionLabel} {$_job|ucfirst}
							</h4>
						</div>
						<div class="widget-content">
							<form class="form-horizontal row-border" action="/ds_{$_job}Action" name="{$_job}" id="{$_job}" method="POST" target="ps">
								{if $_item->gotValue}
									<input type="hidden" name="id" value="{$_item->id}"/>
									<input type="hidden" name="clubImage" id="clubImage" value="{$_item->imageUrl}" />
								{/if}

								{getFormToken f=$_job}

								{formBox type="text" label="Club Name" name="clubName" info="View of registration page, and any formal page" value=$_item->clubName}
								{formBox type="text" label="Public Name" name="clubPublicKey" info="Part of the registration URL" value=$_item->clubPublicKey}
								{*formBox type="text" label="Landing Page URL" info="Specific url generated by adMingle Tech Team" name="clubLandingPage" value=$_item->clubLandingPage*}

								{*formBox type="fileAjax" label="Club Image" name="clubImage" uploadPath="ds_clubImage" info="view best as 570px x 345px" value=null*}

								{*if $_item->imageUrl}
								<div class="form-group">
									<label class="col-md-2 control-label" for="input17">Current Image</label>
									<div class="col-md-10">
										<div class="list-group">
											<li class="list-group-item no-padding">
												<img src="/{$_item->imageUrl}" alt="">
											</li>
										</div>
									</div>
								</div>
								{/if*}
								<div class="form-group">
									<label class="col-md-2 control-label" for="input17">Club Image</label>
									<div class="col-md-10">
										<input type="hidden" name="clubImage" id="clubImage" value="{$_item->imageUrl}" />
										<input type="file" class="uploadfile" id="uploadfile" name="uploadfile"/>
										<div class="newupload">Please select</div>
										<div class="example">

										</div>
									</div>
								</div>

								{if strlen($_item->imageUrl)}
									<div class="form-group">
										<label class="col-md-2 control-label" for="input17">Current Image</label>
										<div class="col-md-10">
											<div class="list-group">
												<li class="list-group-item no-padding">
													<img src="/{$_item->imageUrl}" alt="">
												</li>
											</div>
										</div>
									</div>
								{/if}
								{formBox type="textarea" label="Video" info="Enter full embeded code, it would replace the image" name="video" value=$_item->video}
								{formBox type="textarea" label="Registration Text" info="Text under the image on registration page" name="registrationText" value=$_item->registrationText}
								{formBox type="text" label="Commission Rate" name="commissionRate" info="Commission rate (should be 0-100)" class="only-numeric" value=$_item->commissionRate}
								{formBox type="checkbox" label="Public Club" info="The Cluc will appear on profile page" name="publicClub" value=$_item->publicClub}
								{formBox type="checkbox" label="Enable Registration" info="May This club have registation option" name="enableRegistration" value=$_item->enableRegistration}
								{formBox type="checkbox" label="Is Active" info="Will the club appear on create campaign" name="active" value=$_item->active}

								<div class="form-actions">
									<button type="submit" class="submit btn btn-primary pull-right">
										Submit <i class="icon-angle-right"></i>
									</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- /.row -->
			<!-- /Page Content -->
		</div>
		<!-- /.container -->

	</div>
</div>

{include file="DS/footer.tpl"}
<script src="/site/layout/publisher/plugins/crop.js" type="text/javascript"></script>

<script type="text/javascript">
	{literal}

	var one;

	oFReader = new FileReader(), rFilter = /^(?:image\/gif|image\/jpeg|image\/jpeg|image\/jpeg|image\/pipeg|image\/png|image\/x\-cmu\-raster|image\/x\-cmx|image\/x\-icon|image\/x\-portable\-anymap|image\/x\-portable\-bitmap|image\/x\-portable\-graymap|image\/x\-portable\-pixmap|image\/x\-rgb|image\/x\-xbitmap|image\/x\-xpixmap|image\/x\-xwindowdump)$/i;
	function loadImageFile() {

		if(document.getElementById("uploadfile").files.length === 0) return

		var oFile = document.getElementById("uploadfile").files[0];

		if(!rFilter.test(oFile.type)) {
			return;
		}

		oFReader.readAsDataURL(oFile);
	}

	oFReader.onload = function (oFREvent) {

		$('.example').html('<div class="default"><div class="cropMain"></div><div class="cropSlider"></div><button id="cropButton" class="btn blue">Save</button> &nbsp;<button class="btn" id="btnCancel">Cancel</button></div>');

		// create new object crop
		// you may change the "one" variable to anything
		one = new CROP();

		// link the .default class to the crop function
		one.init('.default');

		// load image into crop
		one.loadImg(oFREvent.target.result);

	};

	$(document).ready(function(){
		one = new CROP();
		one.init('.default');

		$('body').on("click", "button#cropButton", function() {
			$.ajax({
				type: "post",
				dataType: "json",
				url: "/ds_clubUploadTempPicture",
				data: $.param(coordinates(one))
			})
					.done(function(data) {
						$('.example').html('<img src="' + data.url + '" border="0" />');
						$("#clubImage").val(data.url);
					});
			return false;
		});

		$('body').on("click", ".newupload", function() {
			$('.uploadfile').click();
		});

		$('body').change(".uploadfile", function() {
			loadImageFile();
			$('.uploadfile').wrap('<form>').closest('form').get(0).reset();
			$('.uploadfile').unwrap();

		});

		$("body").on("click","button#btnCancel",function(){
			$('.example').html("");
			return false;
		});

	});

	{/literal}
</script>
</body>
</html>