.non,.extrass{
    display: none;
}

tr.activeRow td, li.activeRow{
    background-color: #e2eaff !important;
}

.has-error label{
    /*clear:both;*/
    /*float:left;*/
    /*border:1px solid black;*/
}
.help-block {
    margin-bottom: 0px;
}