Hello {$name},
<br />
<br />

There's something on <a href="{$url}darkside">{$url}darkside</a> that you might want to check.

<br />
<br />
<b>Event : </b>
{$title}<br/>
<b>Date : </b>
{$date}<br/>
<b>Details : </b>
{$details}<br/>
{if !is_null($link)}
	The link related to the situation :<br/>
	<a href="{$url}{$link}">{$url}{$link}</a>
	<br />
{/if}
<br/><br/>
Please hurry !
<br />



