<div class="form-group">
	<label class="col-md-2 control-label" for="{{field.name}}">{{field.title}}</label>
	<div class="col-md-10">
		<input type="checkbox"
		       class="uniform form-control"
		       name="{{field.name}}"
		       id="{{field.name}}"
		       ng-checked="field.value"
		       value="1"
		       ng-disabled="field.disabled"
		       dyn-attr="field.custom"
				>
		<span ng-show="field.info" class="help-block">{{field.info}}</span>
	</div>

</div>