<div class="form-group errorContext">
	<label class="col-md-2 control-label" >{{field.title}}</label>
	<div class="col-md-10">
		<span ng-repeat="subfield in field.fields">
		<label class="{{field.class && field.class || 'checkbox'}}" for="{{field.name}}_{{subfield.name}}">
				<div class="checker">
					<span>
					<input type="checkbox"
				       class="uniform"
				       name="{{field.name}}[{{$index}}]"
				       id="{{field.name}}_{{subfield.name}}"
				       ng-checked="subfield.value"
				       value="1"
				       ng-disabled="subfield.disabled"
				       dyn-attr="field.custom">
					</span>
				</div>
				{{subfield.title}}
		</label>
		</span>
		<span ng-show="field.info" class="help-block">{{field.info}}</span>
	</div>
</div>

<script type="text/javascript-lazy" >
//console.log( $rootScope)
    !(function () {
        if (!jQuery().uniform) {
            return;
        }
        var test = $("input[type=checkbox]");
  //      console.log(test.size())
        if (test.size() > 0) {
            test.each(function () {
            console.log(this)

             //   if ($(this).parents(".checker").size() == 0) {
                  //  $(this).show();
                    $(this).uniform();
              //  }
            });
        }
    })();
</script>