<div class="form-group" dyn-attr="field.blockCustom">
	<label class="col-md-2 control-label" for="{{field.name}}">{{field.title}}</label>
	<div class="col-md-10">
		<input type="text"
		       name="{{field.name}}"
		       id="{{field.name}}"
		       class="form-control  {{field.class && field.class || ''}}"
		       data-mask="99/99/9999"
		       n1g-attr-data-mask="{{field.dataMask && field.dataMask || '' }}"
		       ng-model="field.value"
		       ng-disabled="field.disabled"
		       dyn-attr="field.custom"
				>
		<span ng-show="field.info" class="help-block">{{field.info}}</span>
	</div>
</div>