
<div class="form-group" dyn-attr="field.blockCustom">
	<label class="col-md-2 control-label" for="{{field.name}}">{{field.title}}</label>
	<div class="col-md-10">
		<select
				ng-model="field.value"
				ng-options="o.value as o.key for o in field.options"
				ng-disabled="field.disabled"
				id="{{field.name}}"
				name="{{field.name}}"
				class="form-control  {{field.class && field.class || ''}}"
				dyn-attr="field.custom"
				></select>
		<span ng-show="field.info" class="help-block">{{field.info}}</span>
	</div>
</div>
<!--{if !is_null($__attached) && !is_null($__src)}-->
<script>
//	$( 'select#{$__attached}' ).change( function ()
//	{
//		populateSelectByXHR( '{$__name}', '{$__src}/' + $( 'select#{$__attached}' ).val(), '{$__value}' );
//	}
//	)
//	;
//	if ( $( 'select#{$__attached}' ).find( "option:selected" ).val().length > 0 )
//		$( 'select#{$__attached}' ).change();
</script>
<!--{/if}-->