<div class="form-group" dyn-attr="field.blockCustom">
	<label class="col-md-2 control-label" for="{{field.name}}">{{field.title}}</label>
	<div class="col-md-10">
		<textarea
				name="{{field.name}}"
				class="form-control"
				id="{{field.name}}"
				class="form-control  {{field.class && field.class || ''}}"
				ng-model="field.value"
				ng-disabled="field.disabled"
				dyn-attr="field.custom"
				></textarea>
		<span ng-show="field.info" class="help-block">{{field.info}}</span>
	</div>
</div>
